src/xmls/patient.dtd

<!DOCTYPE patient [
    <!ELEMENT patient (gender, state, dob, pathology_id, clinicalhistory_id)>
    <!ATTLIST patient name CDATA #REQUIRED>
    <!ELEMENT gender (#PCDATA)>
    <!ELEMENT state (#PCDATA)>
    <!ELEMENT dob (#PCDATA)>
    <!ELEMENT pathology_id (#PCDATA)>
    <!ELEMENT clinicalhistory_id (#PCDATA)>
]>